Repository pressbooks/pressbooks-book, pull requests merged in 2018-12, with the labels that each got.

#386 Add variables for td and th borders
  packages/buckram/assets/styles/components/elements/_tables.scss
  packages/buckram/assets/styles/variables/_elements.scss
Labels: buckram, enhancement

#393 Add image caption text indent
  packages/buckram/assets/styles/components/media/_images.scss
  packages/buckram/assets/styles/variables/_media.scss
Labels: buckram, enhancement

#387 Add left and right table border variables
  packages/buckram/assets/styles/components/elements/_tables.scss
  packages/buckram/assets/styles/variables/_elements.scss
Labels: buckram, enhancement

#384 Add variables for column text align
  packages/buckram/assets/styles/components/specials/_columns.scss
  packages/buckram/assets/styles/variables/_specials.scss
Labels: buckram, enhancement

#383 Add margin top to hr-break-symbols
  packages/buckram/assets/styles/components/specials/_separators.scss
  packages/buckram/assets/styles/variables/_colors.scss
  packages/buckram/assets/styles/variables/_specials.scss
Labels: buckram, enhancement

#397 Use short title when it exists (fix #396)
  CHANGELOG.md
  inc/helpers/namespace.php
Labels: bug

#401 Improve focus style for webbook TOC dropdown button (fix #399)
  assets/src/styles/components/_toc.scss
  assets/src/styles/layouts/_header.scss
  dist/mix-manifest.json
  dist/styles/book.css
Labels: a11y, bug

#394 Toc section license
  packages/buckram/assets/styles/components/toc/_generic.scss
  packages/buckram/assets/styles/components/toc/_left.scss
Labels: buckram, bug

#395 Add more interactive content variables
  packages/buckram/assets/styles/components/media/_interactive-content.scss
  packages/buckram/assets/styles/variables/_media.scss
Labels: buckram, enhancement

#403 Add extra support for text align on textboxes
  packages/buckram/assets/styles/components/specials/_textboxes.scss
Labels: buckram, bug

#419 Interpolate colour variables
  packages/aetna/assets/styles/common/_global.scss
Labels: bug

#402 Center page break separators
  packages/buckram/assets/styles/components/specials/_separators.scss
Labels: buckram, bug

#412 Ensure consistent page number size for Arabic page numbers (fix #411)
  packages/buckram/assets/styles/components/structure/_mixins.scss
Labels: buckram, bug

#425 Fix jquery.scrollTo (Fix #251)
  assets/src/scripts/routes/common.js
  dist/mix-manifest.json
  dist/scripts/book.js
  dist/scripts/jquery.localScroll.js
  dist/scripts/jquery.scrollTo.js
  inc/actions/namespace.php
  package-lock.json
  package.json
  webpack.mix.js
Labels: bug
