Repository pressbooks/pressbooks-book, pull requests merged in 2019-01, with the labels that each got.

#408 Fix textbox text indent inconsistency
  packages/buckram/assets/styles/components/specials/_textboxes.scss
  packages/buckram/assets/styles/variables/_specials.scss
Labels: buckram, enhancement

#452 Expand collapsed section and scroll to anchor on page load (fix #251)
  assets/src/scripts/collapse-sections.js
  assets/src/scripts/routes/common.js
  dist/mix-manifest.json
  dist/scripts/book.js
  dist/scripts/collapse-sections.js
  dist/styles/book.css
  package-lock.json
  package.json
  packages/aetna/assets/styles/components/_a11y.scss
  partials/content-accessibility-toolbar.php
Labels: bug

#460 Remove unexpected blank page before copyright page (EPUB)
  packages/buckram/assets/styles/components/pages/_front-matter.scss
Labels: buckram, bug

#472 Chapter licenses fix
  inc/helpers/namespace.php
  tests/bootstrap.php
  tests/test-helpers.php
Labels: enhancement

#478 Fix issue where centered, uncaptioned images would ignore sizing in MOBI
  packages/buckram/assets/styles/components/media/_images.scss
Labels: buckram, bug
